@using MVCAsset.Models.Classes
@model List<Device>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container-fluid" style="background-color: #e1b12c ">
    <h4 style="text-align:center">DISABLED DEVICE</h4>
</div>
<table id="tbldep" class="table table-bordered" style="table-layout: fixed">

    <thead>
        <tr style="text-align:center">

            <th>Device ID</th>
            <th>Device Name</th>
            <th>Product Number</th>
            <th>Description</th>
            @if (User.IsInRole("A") || User.IsInRole("B"))
            {
                <th>Recover</th>

            }

            @if (User.IsInRole("A"))
            {
                <th>Delete</th>
            }


            @*<th>Details </th>*@
        </tr>
    </thead>
    @foreach (var dev in Model)
    {
<tr>
    <td>@dev.DeviceID</td>
    <td>@dev.DevName</td>
    <td>@dev.SerialNumber</td>
    <td>@dev.Description</td>
    @if (User.IsInRole("A") || User.IsInRole("B"))
    {
        <td><a href="/DisabledDevice/Recover/@dev.DeviceID" class="btn btn-success" style="width:100%">Recover</a></td>

    }

    @if (User.IsInRole("A"))
    {
        @*<td><a href="/DisabledDevice/Delete/@dev.DeviceID" class="btn btn-danger" style="width:100%">Delete</a></td>*@
        <td>@Html.ActionLink("Delete", "Delete", new { id = dev.DeviceID}, new { @class = "btn btn-danger", style = "width:100%", onclick = "return confirm('Do you want DELETE? ')" })</td>
    }

    @*<td><a href="/Device/Detalis/@dev.DeviceID" class="btn btn-info" style=" width:100%">Delails</a></td>*@
</tr>

    }

</table>

<a href="/DisabledUser/Index" style="margin-top:5px; width:25%" class="align-self-lg-center   btn btn-warning">DISABLED EMPLOYEES </a>
<a href="/Device/Index" style="margin-top:15px; width:25%" class="align-self-lg-center   btn btn-info">BACK </a>


@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<link href="~/Content/DataTables/css/dataTables.material.css" rel="stylesheet" />
<script>
    $('#tbldep').dataTable();
</script>